.Tag {
    margin-right: 5px;
}

.badge-input {
    background-color: rgb(124, 211, 92);
    color: rgb(124, 211, 92);
}

.NewTag {
    margin-top: 10px;
    visibility: hidden;
    display: block;
}

input {
    background-color: transparent;
    outline: transparent;
    border: unset;
    text-align: center;
}

::placeholder {
    color:whitesmoke;
}
