.vs
gerenciador-hashtags-twitter/.vs
gerenciador-hashtags-twitter/gerenciador-hashtags-twitter/bin
gerenciador-hashtags-twitter/gerenciador-hashtags-twitter/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb.Tests/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb.Tests/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/obj/Debug
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Debug/net5.0/TempPE
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/bin/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/cs
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/de
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/es
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/fr
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/it
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/ja
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/ko
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/pl
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/pt-BR
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/ref
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/ru
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/tr
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/zh-Hans
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/zh-Hant
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.pdb
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.Tests.deps.json
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.Tests.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Domain.pdb
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.Tests.pdb
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.Tests.runtimeconfig.dev.json
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Data.InMemoryDb.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Domain.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/testhost.exe
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Application.Tests.runtimeconfig.json
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/gerenciador-hashtags-twitter.Data.InMemoryDb.pdb
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/Newtonsoft.Json.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/NuGet.Frameworks.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/testhost.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/xunit.abstractions.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/xunit.assert.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/xunit.core.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/xunit.runner.reporters.netcoreapp10.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Debug/net5.0/xunit.execution.dotnet.dll
*.dll
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application/bin/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application/obj/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application.Tests/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application.Tests/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/bin/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/bin/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/bin/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb.Tests/bin/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/bin/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application/bin/Release/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Securities.Application.Tests/bin/Release/net5.0
