.vs
gerenciador-hashtags-twitter/.vs
gerenciador-hashtags-twitter/gerenciador-hashtags-twitter/bin
gerenciador-hashtags-twitter/gerenciador-hashtags-twitter/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb.Tests/bin/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb.Tests/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/obj/Debug
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Data.InMemoryDb/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Release/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Debug/net5.0/TempPE
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Domain/obj/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/bin/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj/Debug/net5.0
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj/Debug/netcoreapp3.1
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application/obj
/gerenciador-hashtags-twitter/gerenciador-hashtags-twitter.Application.Tests/obj
