{% extends "quem_foi_para_mar_core/base.html" %}
  {% block content %}
  <div class="post">
    {% for viagem in todas_viagens %}

              <div class="panel panel-info listas" >
                          <div class="panel-heading">{{viagem.destino}}</div>
                          <div class="panel-body">
                              <ul style="list-style-type: none;">
                                <li>Data de partida: {{viagem.data_partida}}</li>
                                <li>Data de chegada prevista: {{viagem.data_chegada_prevista}}</li>
                                <li>Tripulantes: {{viagem.tripulacao}}</li>
                                <li>Embarção: {{viagem.embarcacao_id}}</li>
                              </ul>
                          </div>
                      </div>
  {% endfor %}
    </div>
  {% endblock %}
