@import '../../variables.scss';

.shared-birthdays {
  padding-bottom: 2rem;

  &__title {
    text-align: center;
    margin-top: 1.25rem;
    text-transform: capitalize;
    color: $white;
    font-size: 1.25rem;

    &-name {
      display: block;
      font-family: 'Great Vibes', cursive;
      font-size: 2rem;
      margin-top: 1rem;
      text-transform: capitalize;
    }
  }

  &__cards {
    position: relative;
    animation: float-up 2s ease-out;
  }

  &__card {
    display: flex;
    width: 17rem;
    min-height: 22rem;
    align-items: center;
    flex-direction: column;
    padding: 0.75rem;
    border-radius: 1rem;
    background-color: $white-shade;

    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 2rem;
    }

    &-title {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &-name {
      font-size: 1.3rem;
      line-height: 1.8rem;
      display: block;
      text-transform: capitalize;

      &:nth-child(1n) {
        font-family: 'Dancing Script', cursive;
      }
      &:nth-child(2n) {
        font-family: 'Satisfy', cursive;
      }
      &:nth-child(3n) {
        font-family: 'Sacramento', cursive;
      }
      &:nth-child(4n) {
        font-family: 'Great Vibes', cursive !important;
      }
    }
  }

  .balloon {
    & > span{
      color: rgba($white, 0.7);
      font-size: 1.3rem;
      text-align: center;
      line-height: 1.4rem;
    }
  }
}

@media (min-width: $lg) {
  .shared-birthdays{
    &__title {
      margin-top: 1.25rem;
      font-size: 2rem;

      &-name {
        display: inline-flex;
        font-size: 2.5rem;
        margin-left: 0.75rem;
      }
    }

    &__card {
      padding: 1.25rem;
      width: 18rem;
      min-height: 26rem;
    }

    &__cards {
      display: flex;
    }
  }
}

@keyframes float-up {
  0% {top: 100vh;}
  100% {top: 0;}
}
