h1, h2, h3 {
     color: #ffffff;
     font-family: 'Lobster';
     text-align: center;
}

p {
  text-align: justify;
}

body {
    padding-left: 15px;
    font-family: 'sans-serif';
    align-items: center;
    text-align: center;
    justify-content: center;
}

.page-header {
    background-color: #00008B;
    color: #ffffff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    align-items: center;
    justify-content: center;
}

.post{
  align-items: center;
  text-align: justify;
  color: #000000;
}

.post-form{
  align-items: center;
  text-align: left;
  color: #000000;
}

.content-container{
  align-items: center;
  text-align: justify;
}

.listas{
    border-left: solid 5px #1b809e;
    width: 550px;
    margin: 10px 30px;
}
