.repo {
    .tag-list,
    .tag-form {
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.8s ease, max-height 0.5s ease-in-out;
    }

    .show {
        overflow: visible;
        opacity: 1;
        max-height: 100vh;
    }
}
