@import '../../variables.scss';

.register {
  width: 23rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  &__title {
    margin: 1rem 0;
    font-family: 'Poppins', sans-serif;
    color: $white;
    font-size: 1.5rem;
    text-align: center;
  }

  &__form {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    &-group {
      margin-bottom: 1rem;
    }
  }

  &__label {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: $white;
    margin-bottom: 0.5rem;
  }

  &__input {
    width: 100%;
    height: 3.12rem;
    border: 1px solid $purple;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: $white-shade;
    font-family: 'Poppins', sans-serif;

    &--error {
      border-color: $red;
    }
  }

  &__calendar {
    border: 1px solid $purple;
    border-radius: 0.5rem;
    max-width: 300px;
    padding: 0.2rem;
    background-color: $white-shade;

    &--error {
      border-color: $red;
    }

    .react-calendar {
      &__tile {
        &:disabled {
          background: inherit;
          cursor: auto;
        }
      }
      &__navigation button[disabled] {
        background: inherit;
        cursor: auto;;
      }
    }
    abbr[title] {
      text-decoration: none;
    }
  }

  &__button {
    width: 100%;
    color: $white;
    background-color: rgba($purple, 0.4);
    border-radius: 0.5rem;
    height: 3rem;
    font-family: 'Great Vibes', cursive;
    font-size: 1.75rem;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: rgba($purple, 0.6);
    }
  }
}

@media (min-width: $lg) {
  .register {
    &__title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    &__form {
      align-items: center;

      &-group {
        position: relative;

        &:nth-child(1) {
          flex: 1;
          width: 100%;
          margin-bottom: 1.5rem;
        }
      }
    }

    &__label {
      font-size: 1.3rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    &__input {
      width: 100%;
      align-self: center;
    }

    &__calendar {
      max-width: unset;
    }

    &__button {
      margin-top:2rem;
    }
  }
}
