@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Rubik', Helvetica, sans-serif;
  color: #fff;
}

body {
  background: #191919;
}
