@import '../variables.scss';

.calendar {
  border: 1px solid $purple;
  border-radius: 0.5rem;
  max-width: 18.75rem;
  padding: 0.2rem;
  background-color: $white-shade;

  &--error {
    border-color: $red;
  }

  .react-calendar {
    &__tile {
      &:disabled {
        background: inherit;
        cursor: auto;
      }
    }
    &__navigation button[disabled] {
      background: inherit;
      cursor: auto;;
    }
  }
  abbr[title] {
    text-decoration: none;
  }
}

@media (min-width: $lg) {
  .calendar {
    max-width: unset;
  }
}
