.Flex-card {
    flex: 1;
    flex-wrap: wrap;
    background: rgb(255, 255, 255) !important; 
    min-width: 250px !important;
    max-width: 300px !important;
    margin-bottom: 20px !important;   
    display: flex;
}

.Flex-card:hover .NewTag {
    visibility: visible;
}

.Flex-card p {
    font-weight: 900;
}
