.flip {
  &-enter {
    &-active {
      transition: transform 0.4s ease;
      perspective: 16rem;
      transform-style: preserve-3d;
      transform: rotateY(90deg);
    }
  }
  &-exit {
    transform: rotateY(-90deg);
    &-active {
      transition: transform 0.4s ease;
      perspective: 16rem;
      transform-style: preserve-3d;
      transform: rotateY(0deg);
    }
  }
}
