@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Poppins|Sacramento|Satisfy&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

body, #root {
  min-height: 100vh;
}

button,
input,
select,
textarea {
  border: none;

  &:focus, &:active {
    outline: none!important;
  }
}

button {
  background: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.contained {
  max-width: 100vw;
}

@media (min-width: $lg) {
  .contained {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $xl) {
  .contained {
    max-width: $xl;
  }
}
